<div 
  data-sortable-id="<%= list.id %>" 
  class="bg-neutral-950 p-3 rounded-xl flex flex-col gap-2 shadow-md w-[350px] relative hover:bg-neutral-900 cursor-pointer"
>
  <%= render 'lists/header', board: board, list: list  %>
  <%= render 'cards/cards', board: board, list: list %>
  <%= render 'lists/new_card_form', board: board, list: list %>
</div>