<div class="fixed flex items-center justify-between w-full top-0 py-3 px-4 bg-neutral-800 text-white border-b border-b-neutral-500 shadow-md z-50">
  <%= link_to "Kanban", user_signed_in? ? boards_path : root_path, class: "text-3xl font-bold cursor-pointer" %>
  <% if user_signed_in? %>
    <div class="absolute top-4 right-4 translate dropdown dropdown-end">
      <div tabindex="0" role="button">
        <div class="cursor-pointer ring-primary bg-neutral-950 ring-offset-base-100 w-8 h-8 rounded-full ring ring-offset-2 flex items-center justify-center relative">
          <span class="absolute top-1/2 right-1/2 translate-x-1/2 -translate-y-1/2 uppercase font-semibold"><%= current_user.email.slice(0,1) %></span>
        </div>
      </div>
      <ul class="dropdown-content menu rounded-box bg-base-100 shadow-sm border border-neutral-600">
        <li class="min-w-[150px]"><%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class:"min-w-[150px] text-left hover:cursor-pointer" %></li>
      </ul>
    </div>
  <% else %>
    <%= link_to "Zaloguj się", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>