<div class="flex flex-col items-center justify-center gap-4 bg-neutral-600 p-4 rounded h-[200px]">
  <%= render "boards/new_board_modal", modal_id: "modal_5", trigger_text: "Dodaj tablicę", trigger_style_classes: "btn btn-primary" %>
</div>