<p>Witaj <%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>Kontaktujemy się z Tobą, aby powiadomić Cię, że Twój adres email jest zmieniany na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Kontaktujemy się z Tobą, aby powiadomić Cię, że Twój adres email został zmieniony na <%= @resource.email %>.</p>
<% end %>